body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.parent {
  border: 2px solid #dfa612;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
  max-width: 600px;
  margin: 0 auto;
}

.draggable {
  background-color: #4aae9b;
  padding: 10px;
}

.onMove {
  background-color: yellow;
}

#dropzone {
  background-color: #6db65b;
  padding: 10px;
}
